div {
    border: 1px solid black;
}

.calc {
    margin: 60px auto;
    width: 240px;
    height: 540px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 60px;
}

.calc__input-window {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.calc__output-window {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

.cell {
    height: 60px;
}

.cell_length_long {

}

.cell_length_short {

}
