.footer {
  box-sizing: border-box;
  grid-area: footer;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  padding: 20px;
  min-height: 60px;
  background-color: rgba(252, 226, 219, 1);
}
